<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>Menu</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div id="Welcome">
        <div id="WelcomeContent" th:if="${#httpServletRequest.userPrincipal}">
          <span th:text="${message} ? ${message} : Welcome">Welcome</span>
          <span th:text="${#httpServletRequest.userPrincipal.name}"></span>
        </div>
      </div>
      <div id="Main">
        <div id="Sidebar">
          <div id="SidebarContent">
            <a th:href="@{/category/FISH}">
              <h3>Administración</h3>
              <!-- <img th:src="@{/images/fish_icon.gif}"/> -->
            </a>
            Administración de Usuarios, Roles y Permisos
            <br/>
            <br/>
            <a th:href="@{/category/DOGS}">
              <h3>Configuración</h3>
              <!-- <img th:src="@{/images/dogs_icon.gif}"/> -->
            </a>
            Activar/Desactivar elementos al cliente
            <br/>
            <br/>
            <a th:href="@{/category/CATS}">
              <h3>Inventario de Personal</h3>
              <!-- <img th:src="@{/images/cats_icon.gif}"/> -->
            </a>
            Gestión de Personas y Expedientes
            <br/>
            <br/>
            <a th:href="@{/category/REPTILES}">
              <h3>Preferencias</h3>
              <!-- <img th:src="@{/images/reptiles_icon.gif}"/> -->
            </a>
            Configuración personalizada del cliente
            <br/>
            <br/>
            <a th:href="@{/category/BIRDS}">
              <h3>Reportes</h3>
              <!-- <img th:src="@{/images/birds_icon.gif}"/> -->
            </a>
            Reportes del sistema
          </div>
        </div>
        <div id="MainImage">
          <div id="MainImageContent">
            <map name="estoremap"><area alt="Birds" coords="72,2,280,250" th:href="@{/category/BIRDS}" shape="RECT"/>
              <area alt="Fish" coords="2,180,72,250" th:href="@{/category/FISH}" shape="RECT"/>
              <area alt="Dogs" coords="60,250,130,320" th:href="@{/category/DOGS}" shape="RECT"/>
              <area alt="Reptiles" coords="140,270,210,340" th:href="@{/category/REPTILES}"
                    shape="RECT"/>
              <area alt="Cats" coords="225,240,295,310" th:href="@{/category/CATS}" shape="RECT"/>
              <area alt="Birds" coords="280,180,350,250" th:href="@{/category/BIRDS}" shape="RECT"/>
            </map>
            <img height="345" th:src="@{/images/khor/splash.png}" align="center" usemap="#estoremap" width="360"/>
          </div>
        </div>
        <div id="Separator">&nbsp;</div>
      </div>
    </section>
    <!--
    <footer>
      <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
    </footer>
    -->
  </body>
</html>